@import "//hello.myfonts.net/count/25fba8";
@font-face {
	font-family: proximanovaa-thin;
	src: url(webfonts/25FBA8_0_0.eot);
	src: url(webfonts/25FBA8_0_0.eot?#iefix) format('embedded-opentype'), url(webfonts/25FBA8_0_0.woff) format('woff'), url(webfonts/25FBA8_0_0.ttf) format('truetype')
}

@font-face {
	font-family: proximanovas-thin;
	src: url(webfonts/25FBA8_1_0.eot);
	src: url(webfonts/25FBA8_1_0.eot?#iefix) format('embedded-opentype'), url(webfonts/25FBA8_1_0.woff) format('woff'), url(webfonts/25FBA8_1_0.ttf) format('truetype')
}

@font-face {
	font-family: proximanovas-regular;
	src: url(webfonts/25FBA8_2_0.eot);
	src: url(webfonts/25FBA8_2_0.eot?#iefix) format('embedded-opentype'), url(webfonts/25FBA8_2_0.woff) format('woff'), url(webfonts/25FBA8_2_0.ttf) format('truetype')
}

@font-face {
	font-family: proximanovaa-regular;
	src: url(webfonts/25FBA8_3_0.eot);
	src: url(webfonts/25FBA8_3_0.eot?#iefix) format('embedded-opentype'), url(webfonts/25FBA8_3_0.woff) format('woff'), url(webfonts/25FBA8_3_0.ttf) format('truetype')
}

@font-face {
	font-family: proximanovat-thin;
	src: url(webfonts/25FBA8_4_0.eot);
	src: url(webfonts/25FBA8_4_0.eot?#iefix) format('embedded-opentype'), url(webfonts/25FBA8_4_0.woff) format('woff'), url(webfonts/25FBA8_4_0.ttf) format('truetype')
}

@font-face {
	font-family: proximanova-regular;
	src: url(webfonts/25FBA8_5_0.eot);
	src: url(webfonts/25FBA8_5_0.eot?#iefix) format('embedded-opentype'), url(webfonts/25FBA8_5_0.woff) format('woff'), url(webfonts/25FBA8_5_0.ttf) format('truetype')
}