<!DOCTYPE html>
<html lang="en">
<head>
    <title>Community - Be together!</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    Load Bootstrap via CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/formstyle.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-md" id="beforlogin">
    <a class="navbar-brand" href="#">Community</a>
    {#        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">#}
    {#            <span class="navbar-toggler-icon"></span>#}
    {#        </button>#}
    <div class="collapse navbar-collapse" id="main-navigation" style="display: block;">
        <ul class="navbar-nav" style="float: right;" id="mybar">
            {% if not user.is_authenticated %}
                <li class="nav-item">
{#                    <a class="nav-link" href="javascript:void(0);" onclick="newlogin();" id="loginId">#}
                    <a class="nav-link" href="javascript:void(0);" onclick="newlogin();" id="loginId">
                  <span
                          class="glyphicon glyphicon-log-in"></span>
                        Login
                    </a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" id="logoutId">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Logout
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


{#<nav class="navbar navbar-expand-md" id="afterlogin" style="display: none">#}
{#    <a class="navbar-brand" href="/">Community</a>#}
{#    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="main-navigation">#}
{#        <ul class="navbar-nav" style="float: right;">#}
{#            <li class="nav-item">#}
{#                {% if userInfo %}#}
{#                    <a class="nav-link" href="#" id="loginId">{{ userInfo.firt_name }}</a>#}
{#                {% endif %}#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}


<header class="page-header header container-fluid" style="height: 300px;">
    <div class="overlay"></div>
    <div class="description" id="communityListDiv">
        <h1>Welcome to Community!</h1>
        <p>Come and join us!</p>
        <h2><a class="h2" href="newCommunity">Let's have a new one!</a></h2>
    </div>
</header>
<main>

    <style>
        .tdStyle {
            background-image: url('{%  static  "css/images/home.jpg" %}');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
        }


    </style>


    <div class="container features">
        <div class="row">
            {% if communityList %}
                {% for Community in communityList %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h1 class="commHeader">{{ Community.community_name }}</h1>
                                <p class="card-text">{{ Community.community_desc }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <a href="community/{{ Community.id }}" class="btnCommView">
                                                View
                                            </a>
                                        </button>
                                    </div>
                                    <small class="text-muted">{{ Community.create_date }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


    {# Begin Of Login  #}
    <div id="newlogin_lightbox" onclick="closenewlogin();"
         style="display: none; width: 100%; height: 100%; background: rgba(0,0,0,0.85); position: fixed; top: 0px; left: 0px; z-index: 20;">
    </div>
    <div id="newlogin_error" onclick="newloginerrorclear();"
         style="position: fixed; background: rgba(0,0,0,1); width: 500px; left: 50%; padding: 50px; margin: 0px 0px 0px -250px; top: 120px; z-index: 2000; text-align: center; display: none;"></div>
    <div id="newlogin"
         style="display: none; width: 1000px; background: rgba(25,25,25,1); border: 0px solid #222; box-shadow: 0px 0px 20px rgba(0,0,0,0.5); position: fixed; top: -2000px; left: 50%; margin: 0px 0px 0px -450px; z-index: 50;">
        <div id="newlogin_inner">
            <div style="padding: 0px 0px 0px 0px;" id="newmember_dia">
                <div style="margin: 0px 0px 0px 0px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-height: 380px;">
                        <tr>
                            <td width="50%"
                                class="tdStyle">
                                <div style="font-family: ProximaNovaT-Thin; font-size: 40px; color: #fff; margin: 0px 0px 0px 0px; line-height: 25px; text-align: center; padding: 20px 0px 10px 0px;text-shadow: 1px 1px 0px rgba(0,0,0,0.8);">
                                    Login
                                </div>
                                <div style="font-family: ProximaNovaT-Thin; font-size: 20px; color: #fff; line-height: 25px; text-align: center;  margin: 0px 0px 0px 0px; text-shadow: 1px 1px 0px rgba(0,0,0,0.8);">
                                    Welcome back.
                                </div>
                            </td>
                            <td width="50%">
                                <div style="padding: 60px 30px 20px 30px;">
                                    <div id="newlogin_form">
                                        <center>
                                            <div style="margin: 0px 0px 10px 0px;">
                                                <input type="text" class="floatLabel" autocomplete="off"
                                                       placeholder="Your e-mail" spellcheck="false" id="newlogin_email">
                                            </div>
                                            <div style="margin: 0px 0px 15px 0px;">
                                                <input type="password" class="floatLabel" placeholder="Password"
                                                       onkeydown="if(event.keyCode==13) { if(topdialogs != '2') { doNewLogin(); } }"
                                                       id="newlogin_password">
                                            </div>
                                            <div style="margin: 37px 0px 0px 0px;">
                                                <span class="buttonflat flatgreen" onclick="doNewLogin();"
                                                      id="signupbutton3">Login</span>
                                                <span onclick="closenewlogin();"
                                                      style="color: #aaa; cursor: pointer; padding: 0px 0px 0px 10px; font-size: 14px;"><span
                                                        style="color: #777; padding: 0px 3px 0px 0px;">or</span> cancel</span>
                                            </div>
                                            <div style="margin: 40px 0px 5px 0px; color: #999; font-size: 13px; cursor: pointer;"
                                                 onclick="closenewlogin(); getaccount();">Need an account? <span
                                                    style="color: #ddd; padding: 0px 0px 0px 2px;">Sign up here</span>
                                            </div>
                                            <div style="margin: 10px 0px 5px 0px; color: #999; font-size: 13px; cursor: pointer;"
                                                 onclick="location.href='/forgot';">Forgot password? <span
                                                    style="color: #ddd; padding: 0px 0px 0px 2px;">Click here</span>
                                            </div>
                                        </center>
                                    </div>
                                    <div style="font-size: 14px; color: #fff; font-family: 'ProximaNovaT-Thin'; display: none;"
                                         id="newlogin_loggingin">
                                        <center>
                                            Logging you in. Please wait...
                                        </center>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="getaccount_lightbox" onclick="closegetaccount();"
         style="display: none; width: 100%; height: 100%; background: rgba(0,0,0,0.85); position: fixed; top: 0px; left: 0px; z-index: 20;">
    </div>
    <div id="getaccount_error" onclick="signuperrorclear();"
         style="position: fixed; background: rgba(0,0,0,1); width: 500px; left: 50%; padding: 50px; margin: 0px 0px 0px -250px; top: 120px; z-index: 2000; text-align: center; display: none;"></div>
    <div id="getaccount"
         style="display: none; width: 1000px; background: rgba(25,25,25,1); border: 0px solid #222; box-shadow: 0px 0px 20px rgba(0,0,0,0.5); position: fixed; top: -2000px; left: 50%; margin: 0px 0px 0px -450px; z-index: 50;">
    </div>
    {# End Of Login  #}
    <div style="position: relative; bottom: 20px; text-align: center; font-size: x-large;">
        {#        <button>#}
        {#             <a href="newCommunity"> New Community!#}
        {#             </a> </button>#}
    </div>
</main>
<!-- Include jQuery -->
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
{#        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
{#        crossorigin="anonymous"></script>#}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--Load Bootstrap JavaScript-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script src="{% static 'controller/index.js' %}"></script>
</body>
</html>
